.firmHeader{
    .tabBlock{
        .selectTab{
            color: $brand_blue;
            border-bottom: 3px solid $brand_blue;
        }
        .tab:hover{
            color: $brand_blue;
            border-bottom: 3px solid $brand_blue;
            transition:all .2s ease-in-out;

        }
    }
}
.firmPlat{
    .firmContent{
        .navbar{
            background-color: $brand_blue;
            .hamIcon{
                color: $brand_blue;
            }
            .countBlock{
                .countItem{
                    box-shadow: none;

                }    
            }
            .navBtn{
                color: $brand_blue;
                font-family: NotoSansCJKtc-Medium;
                border: 5px solid $brand_blue;
            }
            .logoutBtn{
                margin: 20% auto;
                color: white;
                background-color: $brand_lightBlue;
            }
            .navBtn:hover{
                // background-color: $brand_lightBlue;
                border: 5px solid $brand_lightBlue;
                font-weight: bolder;
                transition:all .1s ease-in-out;
                box-shadow: none;

            }
            .logoutBtn:hover{
                color: $brand_blue;
                background-color: white;
                transition:all .3s ease-in-out;
                box-shadow: none;

            }
        }
        
    }
}
.firmMsgBlock{
    .alertArea{
        .caseItem{
            border: none;
            border: 3px solid $brand_blue;
            a{
                .btn{
                    background-color: $brand_blue;
                }
            }
        }
        
    }
    .sucessArea{
        .caseItem{
            .sucessBtnBlock{
                .likeIcon{
                    color: white;
                }
            }
            .kolFavBlock{
                .likeIcon{
                    color: $pink_bgc;
                }
            }
        }
    }
    .applyArea{
        height: 80%;
        .caseItem{
            .strBlock{
                .statusStr{
                    width: 70%;
                    margin-top: 5%;
                    padding: 4% 3%;
                    text-align: center;
                    color: white;
                    font-size: 1rem;
                    letter-spacing: 0.1rem;
                    background-color: $brand_lightBlue;
                    box-shadow: $shadow_color 6px 6px 0px 0px;
                }
                .itemTitle{
                    margin: 0 auto;
                }
            }
        }
    }
    .topNavArea{
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        width: 80%;
        h2{
            margin: 9% 0 5% 0;
        }
        .addCaseBtn{
            margin: 7.5% 2% auto 0;
            padding: 2% 5%;
            display: flex;
            width: 15%;
            border: 3px solid $brand_blue;
            letter-spacing: 0.1rem;
            background-color: white;
            border-radius: 300px;
            cursor: pointer;
            span{
                margin-left: 12%;
                font-size: $font-tab;
            }
        }
        .addCaseBtn:hover{
            font-weight: bold;
            box-shadow: 5px 5px 10px $shadow_color;
            transition:all .15s ease-in-out;
        }
    }
}
.firmDiaBlock{
    .userInfo{
        .btnBlock{
            .detailBtn{
                border: 2px solid $brand_blue;
                a{
                    color:$brand_blue;
                }
                .icon{
                    color: $brand_blue;
                }
            }
        }
    }
    .dialogDetail{
        .dialogStyle{
            p{
                border: 2px solid $brand_blue;
            }
        }
        .myReply{
            p{
                border: 2px solid $brand_blue;
                background-color: $brand_blue;
            }
        }
        .btnBlock{
            input{
                border: 2px solid $brand_blue;
            }
        }
    }
}
.firmSetBlock{
    .userInfoArea{
        .picBlock{
            img{
                border: 4px solid $brand_blue;
            }
            li{
                span{
                    background-color: $brand_blue;
                }
                .uploadBtn:hover{
                    background-color: $brand_lightBlue;
                }
            }
        }
        .inputBlock{
            background-color: $brand_blue;
            .btnBlock{
                margin-top: 12%;
                .btn{
                    border: 3px solid $brand_lightBlue;
                }
            }
        }
    }
}
.firmConsultBlock{
    .firmManageBlock{
        margin: 0 auto 5% auto;
        width: 100%;
        .applyArea{
            display: flex;
            flex-wrap: wrap;
            padding: 1% 4% 2% 4%;
            overflow-x: auto;
            height: 19%;
        }
        .padUsing{
            color: $nav_bgc;
        }
        .mesArea{
            .caseItem{
                border: none;
                a{
                    .btn{
                        width: 150px;
                        padding: 6% 0;
                        margin: 6% 0;
                        background-color: $brand_blue;
                        cursor: pointer;
                        .icon{
                            margin-left: 13%;
                            color: white;
                        }
                        span{
                            margin: auto 0 auto 2%;
                        }
                    }
                    .btn:hover{
                        background-color: $brand_lightBlue;
                    }
                    .confirmBtn{
                        background-color: $pink_bgc;
                    }
                }
                img{
                    margin-right: 5%;
                }
                .strBlock{
                    width: 35%;
                }
            }
            .avatar{
                width: 20%;
                display: flex;
                flex-direction: column;
                // border: 1px solid pink;
                margin: 2% 4% 2% 1% ;
                
                span{
                    text-align: center;
                    font-family: NotoSansCJKtc-Medium;
                    font-size: $font-tab;
                }
            }
        }
        .btnBlock{
            display: flex;
            flex-direction: column;
            justify-content: center;
            
        }
        .sucessArea{
            height: 40%;
        }
    }
    .consultDetArea{
        .caseBasic{
            .favBtnBlock{
                .editIcon:hover{
                    color: $brand_lightBlue;
                }
            }
        }
    }
}
.firmFansBlock{
    .searchSec{
        .searchFirmArea{
            .industItem{
                width: 8rem;
                height: 8rem;
            }
        }
    }
}
.kolDetailBlock{
    .firmDetArea{
        .caseInfo{
            .caseDetail{
                width: 85%;
                .introBlock{
                    display: flex;
                    width: 100%;
                    p{
                        width: 100%;
                    }
                    li{
                        margin: auto 0 auto 6%;
                        width:  45%;
                        padding: 3% 4%;
                        text-align: center;
                        border-radius: 300px;
                        letter-spacing: 0.1rem;
                        color: $brand_blue;
                        background-color: white;
                        border: 5px solid $brand_lightBlue;
                        
                        cursor: pointer;
                    }
                    li:hover{
                        color: white;
                        background-color: $brand_lightBlue;
                        border: 5px solid $brand_lightBlue;
                        transition:all .3s ease-in-out;
                        box-shadow: none;
                    }
                }
            }
            .caseRequire{
                .requireBlock{
                    background-color: $brand_blue;
                    li{
                        .icon{
                            margin-left: 5%;
                        }
                    }
                }
            }
        }
    }
}
.firmAddBlock{
    .caseInfo{
        .picBlock{
            margin: 5% 0 0 8%;
            display: flex;
            img{
                border: 5px solid $brand_blue;
            }
            .uploadPicBtn{
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                margin: 1% 0 0% 3%;
                span{
                    width: 100%;
                    padding: 20% 35%;
                    margin-bottom: 25%;
                    text-align: center;
                    color: white;
                    background-color: $brand_lightBlue;
                    border-radius: 300px;
                    border: 3px solid $brand_lightBlue;
                    cursor: pointer;
                }
                .removeBtn{
                    color: $pink_bgc;
                    border: 3px solid $pink_bgc;
                    background-color: white;
                }
                span:hover{
                    box-shadow: 3px 3px 5px $shadow_color;
                    transition:all .1s ease-in-out;

                }
            }
        }
        .inputBlock{
            margin-top: 5%;
            display: flex;
            background-color: $brand_blue;
            // border: 1px solid pink;
            input{
                outline: none;
                border: none;
                line-height: 2rem;
            }
            .inputArea{
                width: 50%;
                margin: 0 auto;
                .icon{
                    color: $brand_blue;
                    margin: auto 3% auto 0;
                }
                .infoItem{
                    margin-top: 5%;
                    padding: 0 2%;
                    border: 1px solid white;
                    background-color: white;
                    display: flex;

                    .longInput{
                        width: 100%;
                    }
                }
                .twoInput{
                    display: flex;
                    .icon{
                        margin: auto 6% auto 0;
                    }
                    .padSet{
                        margin-left: 6%;
                    }
                    
                }
                .titleInput{
                    margin-top: 10%;
                }
                .contentInput{
                    margin-bottom: 10%;
                    input{
                        padding-bottom: 30%;
                    }
                }
            }
            .selectBlock{
                margin: 4% 7% 0% 0%;
                .selectBtn{
                    width: 150px;
                    margin: 4% 5% 8% 0;
                    background-color: white;
                    border: 3px solid $brand_lightBlue;
                    color: $brand_blue;
                    line-height: 2rem;
                    text-align: center;
                    border-radius: 300px;
                    cursor: pointer;

                    .icon{
                        margin-right: 8%;
                    }
                }
                .selectBtn:hover{
                    color: $brand_lightBlue;
                    border: 3px solid $brand_lightBlue;
                }
                .closeCase{
                    margin: 8% 0 0 15%;
                    color: $tab_color;
                    border: 3px solid white;
                }
                .closeCase:hover{
                    color: $pink_bgc;
                    border: 3px solid $pink_bgc;
                }
                .pauseBtn{
                    margin-top: 28%;
                }
                .multiselect-tags{
                    background-color: white;
                    margin-top: 0;
                    .multiselect-tag{
                        background-color: $brand_lightBlue;
                    }
                }
                .multieBlock{
                    margin-top: 5%;
                }
            }
        }
    }
}