.kolHeader{
    max-width: 1550px;
    margin: 0 auto;
    padding: 0 3% 0 5%;
    display: flex;
    // border: 1px solid pink;

    h1{
        display: flex;
        margin: 4% 10% 4% 0;
        padding-right: 5%;
        cursor: default;
        // border: 1px solid pink;

        .logo{
            padding-right: 8%;

        }
        .brandName{
            color: $brand_blue;
            line-height: 3.5rem;
            font-size: $font-m;
            font-family: NotoSansCJKtc-Medium;
            // border: pink solid 1px;
        }
    }

    .tabBlock{
        display: flex;
        width: 100%;
        font-family: NotoSansCJKtc-Medium;
        align-items: flex-end;
        // border: 1px solid pink;

        a{
            width: 100%;
            text-decoration: none;
        }

        li{
            display: flex;
            padding: 8% 0;
            margin-left: 8%;
            color: $tab_color;
            font-size: $font-tab;
            border-bottom: 3px solid $tab_color;
            // border: 1px solid pink;

            span{
                display: block;
            }
            .icon{
                margin: 0 5% 0 22%;
            }
            .specIcon{
                margin-left: 18%;
            }
        }
        .selectTab{
            color: $brand_blue;
            border-bottom: 3px solid $brand_blue;
        }
        .tab:hover{
            color: $brand_blue;
            border-bottom: 3px solid $brand_blue;
            transition:all .2s ease-in-out;

        }
    }
    
}
.kolContent{
    display: flex;

    .navbar{
        width: 32%;
        background-color: $brand_lightBlue;
        color: white;
        // border: 1px solid pink;
        a{
            text-decoration: none;
            color: white;
        }
        .hamIcon{
            color: white;
            margin: 5% 0 0 90%;
            font-size: $font-m;
            cursor: pointer;
            // border: 1px solid pink;
        }
        .avatar{
            width: 150px;
            margin: 1% auto 20% auto;
            height: 150px;
            border-radius: 50%;
            background-color: white;
            box-shadow: 5px 5px 10px $shadow_color;
            // border: 1px solid rgb(143, 63, 76);
            img{
                display: block;
                margin: 0 auto;
                padding-top: 10%;
            }
            span{
                display: block;
                margin-top: 16%;
                padding: 3% 0;
                color: white;
                text-align: center;
                font-size: $font-l;
                font-family: NotoSansCJKtc-Medium;
                // border: 1px solid pink;

            }
        }
        .countBlock{
            display: flex;
            width: 60%;
            margin: 0 auto 10% auto;
            // border: 1px solid pink;

            .countItem{
                display: flex;
                flex-direction: column;
                margin: 0 auto;
                padding: 8% 5%;
                border-radius: 20px;
                background-color: $tab_color;
                font-family: NotoSansCJKtc-DemiLight;
                box-shadow: 5px 5px 10px $shadow_color;

                .count{
                    display: block;
                    text-align: center;
                    padding-top: 15%;
                    font-size: $font-m;
                    font-family: NotoSansCJKtc-Medium;
                }
            }
            .successItem{
                background-color: $pink_bgc;
            }
            
        }
        .navBtn{
            width: 52%;
            margin: 4% auto 0 auto;
            padding: 3% 0;
            display: flex;
            border-radius: 300px;
            color: $brand_lightBlue;
            background-color: white;
            // border: 1px solid pink;

            .icon{
                display: block;
                margin: 0 5% 0 32%;
                // border: 1px solid pink;
            }
            span{
                display: block;
                // border: 1px solid pink;

            }
        }
        .logoutBtn{
            margin: 20% auto;
            color: white;
            background-color: $brand_blue;
        }
        
    }
    .navBtn:hover{
        color: $brand_blue;
        font-weight: bolder;
        transition:all .1s ease-in-out;
        box-shadow: 5px 5px 10px $shadow_color;
    }
    .logoutBtn:hover{
        color: $brand_blue;
        background-color: white;
        transition:all .3s ease-in-out;
    }
    
}
.kolMesBlock{
    background-color: $nav_bgc;
    width: 68%;
    height: 900px;
    // border: 1px solid pink;

    h2{
        margin: 7% 10% 3% 10%;
        letter-spacing: 0.1rem;
        color: $brand_blue;
        font-size: $font-l;
        font-family: NotoSansCJKtc-Medium;
    }
    .topTitle{
        margin: 6% 10% 3% 10%;
    }
    .alertArea{
        margin: 0 10%;
        height: 33%;
        overflow-y: auto;
        border-radius: 20px;
        background-color: white;
        // border: 2px solid pink;

        .caseItem{
            display: flex;
            margin: 4% 6%;
            color: $brand_blue;
            background-color: white;
            border-radius: 20px;
            border: 3px solid $brand_lightBlue;
            box-shadow: 1px 2px 8px $shadow_color;
            
            img{
                margin-right: 4%;
                padding: 4% 15%;
                border-radius: 20px 0 0 20px;
                background-color: $grey_bgc;
                // border: 3px solid pink;
            }
            .strBlock{
                margin: auto 0;
                // border: 3px solid pink;
                
                .itemTitle{
                    margin: 12% auto 0 auto;
                    letter-spacing: 0.1rem;
                    font-size: $font-m;
                    font-family: NotoSansCJKtc-Medium;
                    // border: 1px solid pink;
                }

                .firmName{
                    margin: 5% auto;
                    padding-left: 1%;
                }

                .btnBlock{
                    display: flex;
                    width: 300px;
                    margin: 8% auto;
                    // border: 1px solid pink;
                    a{
                        // display: block;
                        margin-right: 5%;
                        padding: 4% 5%;  
                        border-radius: 300px;
                        letter-spacing: 0.1rem;
                        color: white;
                        background-color: $brand_lightBlue;
                        // border: 1px solid pink;
                    }
                    a:hover{
                        box-shadow: 2px 2px 8px $shadow_color;
                        font-weight: bolder;

                    }
                    
                    .btn{
                        display: flex;
                        width: 110px;
                        padding-left: 6%;
                        // border: 1px solid pink;
                        span{
                            display: block;
                            padding-left: 8%;
                        }
                    }
                    
                    .infoBtn{
                        background-color: $pink_bgc;
                    }

                
                }
            }
        }
    }
    .mesArea{
        height: 80%;
        // border: 1px solid pink;
        .caseItem{

            img{
                padding: 3% 2% 3% 6%;
                background-color: white;
                // border: 1px solid pink;
            }
            .strBlock{
                .itemTitle{
                    margin-top: 5%;
                }
                .firmMsg{
                    margin-top: 5%;
                    font-size: $font-s;
                    color: $dark_grey;
                }
                
            }
            a{
                display: flex;
                margin: 5% 0 5% 6%;
                align-items: flex-end;
                // border: 1px solid pink;
                
                .btn{
                    display: flex;
                    width: 120px;
                    margin: 0;
                    padding: 12% 0;
                    border-radius: 300px;
                    text-align: center;
                    color: white;
                    background-color: $brand_lightBlue;
                    // border: 1px solid pink;
    
    
                    span{
                        margin-left: 5%;
                        letter-spacing: 0.1rem;
                    }
                    .icon{
                        margin-left: 26%;
                    }
                }
            }
            
            .btn:hover{
                background-color: $brand_blue;
                transition:all .3s ease-in-out;
                box-shadow: 2px 2px 8px $shadow_color;
            }
        }
    }
    .applyArea{
        height: 33%;
        
        .caseItem{
            
            .strBlock{
                margin: auto 0;

                .itemTitle{
                    margin-top: 5%;
                }

                .statusStr{
                    font-weight: bold;
                }
            }
            a{
                display: flex;
                margin: 5% 0 5% 2%;
                align-items: flex-end;
                // border: 1px solid pink;
                
                .btn{
                    width: 150px;
                    margin: 0;
                    padding: 10% 0;
                    // border: 1px solid pink;
    
    
                    span{
                        margin-left: 5%;
                        letter-spacing: 0.1rem;
                    }
                    .icon{
                        margin-left: 20%;
                    }
                }
            }
            
        }
        
    }
    .sucessArea{
        margin: 0 6%;
        background-color: $nav_bgc;
        
        .caseItem{

            a{
                margin: 0;
            }

            img{
                // padding: 3% 0% 3% 5%;
                padding: 7% 8% 7% 8%;
                border-radius: 20px 0 0 20px;
                background-color: $grey_bgc;
            }

            .strBlock{
                margin: auto 0;

                .itemTitle{
                    margin-top: 0;
                }
                // border: 1px solid pink;
                .sucessDate{
                    width: 80%;
                    margin-top: 10%;
                    padding: 4% 3%;
                    text-align: center;
                    color: white;
                    font-size: 1rem;
                    letter-spacing: 0.1rem;
                    background-color: $pink_bgc;
                    box-shadow: $dark_grey 6px 6px 0px 0px;

                }
            }
            .sucessBtnBlock{
                margin: auto 0 auto 1%;
                // border: 1px solid pink;

                a{
                    .btn{
                        width: 150px;
                        padding: 10% 0;
                        // border: 1px solid pink;
        
                        .icon{
                            margin-left: 18%;
                        }
                    }
                }
                .likeIcon{
                    color: $pink_bgc;
                    margin: 0 0 42% 75%;
                    font-size: $font-m;
                    
                }

            }
        }
        
    }
    .saveFirmArea{
        margin: 3% 10% 0 10%;
        background-color: white;

        .caseItem{

            img{
                padding: 3% 5%;

            }
            .strBlock{

                .firmLable{
                    margin: 8% auto 4% auto;
                    font-size: $font-m;

                    .lableIcon{
                        margin-right: 6%;
                        color: $brand_lightBlue;

                    }
                }
                .corpNum{
                    width: 60%;
                    margin-top: 6%;
                    color: $brand_blue;
                    border: 2px solid $brand_blue;
                    font-size: $font-s;
                    background-color: white;
                }
            }
            .sucessBtnBlock{
                .likeIcon{
                    margin: 5% 0 40% 65%;
                }
                .btn{
                    margin: 0 10% 0 0;
                }
            }
        }
    }
    .saveCaseArea{
        height: 80%;

        .caseItem{
            img{
                padding: 7% 8%;
                border-radius: 20px 0 0 20px;
                background-color: $grey_bgc;
            }
            .strBlock{
                margin: auto 3% auto 0;
                .firmName{
                    margin-bottom: 8%;
                }

                .cdDate{
                    width: 80%;
                    padding: 3% 0;
                    text-align: center;
                    font-size: $font-s;
                    font-weight: bolder;
                    letter-spacing: 0.1rem;
                    color: $google_red;
                    border: 2px solid $google_red;
                    box-shadow: $google_red 3px 3px 0px 0px;
                }
            }
        }
        .saveCaseBtn{
            margin: auto 5% auto 0;
            // border: 1px solid pink;
            .likeIcon{
                margin: 10% 0 25% 65%;
                font-size: $font-m;
                color: $pink_bgc;
            }
            .btn{
                margin: 35% 0 0 0;
                width: 135px;
                
            }
        }
    }
    .sucessDescript{
        display: block;
        margin-left: 10.5%;
        color: $brand_blue;
        letter-spacing: 0.1rem;
        
    }
    .sucessH2{
        margin: 7% 10% 1.5% 10%;
            
    }
}
.msgDialogBlock{
    background-color: $nav_bgc;
    width: 68%;
    height: 900px;
    .icon{
        padding: 2.5% 3%;
        font-size: $font-m;
        color: $brand_blue;
    }
}

.scrollStyle::-webkit-scrollbar {
    background-color: $brand_lightBlue;
}

.scrollSpecial::-webkit-scrollbar {
    background-color: $nav_bgc;
}