// Font
@font-face{
    font-family: NotoSansCJKtc-Medium;
    src: local('NotoSansCJKtc-Medium');
}
@font-face{
    font-family: NotoSansCJKtc-DemiLight;
    src: local('NotoSansCJKtc-DemiLight');
}
@font-face{
    font-family: NotoSansCJKtc-Light;
    src: local('NotoSansCJKtc-Light');
}