// Font
@font-face{
    font-family: NotoSansCJKtc-Medium;
    src: local('NotoSansCJKtc-Medium');
}
@font-face{
    font-family: NotoSansCJKtc-DemiLight;
    src: local('NotoSansCJKtc-DemiLight');
}
@font-face{
    font-family: NotoSansCJKtc-Light;
    src: local('NotoSansCJKtc-Light');
}

// Color
$brand_blue:#344068;
$brand_lightBlue:#86D1DA;
$dark_grey:#484848;
$nav_bgc:#E6E6E6;
$google_red: #a81f1f;
$fb_blue: #3651aa;

// Font Size
$font-s: 0.75rem;
$font-m: 1.5rem;
$font-l: 2rem;

